@media screen and (max-width:670px){
.container1 {
 display: flex;
 flex-wrap: wrap;
 width: 100%vw;
 height: 600px; 
 background-image: url(../img/first\ img\ banner.avif); 
 background-repeat: no-repeat;
 object-fit: cover;
 background-position:center;
} 
.content{
  margin-right: 100px;
}
.content h3{
    font-size: 20px;
}
.content h1{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 4px 8px ;
}
}