*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link{
  font-size: 20px;
  color: #0b0b0b;
 
}
.nav-link:hover{
  color:#ad866f;
}
.nav-item{
  margin: 10px;
}
.logo1{
  margin-right: 200px;
}
.link{
  margin-right: 200px;
}
.logo2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.logo2 i{
  padding: 20px;
  font-size: 25px;
}

/* CONTAINER FIRST */
.container1 {
 display: flex;
 flex-wrap: wrap;
 width: 100%vw;
 height: 600px; 
 background-image: url(../img/first\ img\ banner.avif); 
 background-repeat: no-repeat;
 object-fit: cover;
 background-position:center;
} 
.content{
    margin-top: 130px;
    margin-left: 150px;
    line-height: 1.5;
}
.content h3{
    font-size: 30px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content h1{
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 4px 8px ;
}
.content p{
    color: #3e2b24;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content p a{
     text-decoration: NONE;
     color:#ad866f;
     font-size: 25PX;
     /* border: 1PX solid; */
     padding:8px 20px; 
     background-color: #3e2b24;  
     box-shadow: 2px 4px 2px; 
}
.content p a:hover{
    background-color: #ad866f;
    color: black;
    transition: 2s;
}
.btn{
    margin-top: 10px;
}
 /* CONTAINER TWO */
 .container2{
    background-color:#f1ecea;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50PX;
 }
 .sec-conatain{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: auto;
    margin:0px auto ;
    padding: 20px;
 }
 .sec-conatain h3{
    color: #3e2b24;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom:20px;
 }
  .sec-conatain p{
    color: #3e2b24;
    font-family: 'Times New Roman', Times, serif;
    line-height:1.2;
    font-size: 40px; 
    text-align: justify;
  }
  .twoimg{
    width: 100%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px; 
  }
  .twoimg .one{
    width: 400px;
    height:350px;
    border-radius:20px;
  }
  .twoimg .two{
    width:400px;
    height:350;
    border-radius: 20px;
  }
  /* CONTAINER 3 */
  .container3{ 
    width: 100%;
    height: auto;
    background-color: rgb(196 182 147);
    padding-top: 100px;
  }
  .main-contain{
   width:100%;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   /* border: 1px solid; */
   margin: 0px auto;
  }
  .tittle-one{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid; */
    padding-left:50px ;
    margin: 50px auto; 
  }
  .tittle-one p,h3{
    color: #3e2b24;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: auto;
    padding: 5px;
  }
  .tittle-two{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding: 20px;
    margin: 10px auto;
  }
  .tittle-two img{
    width:400px;
    height:500px;
  }
  .abutone{
    border-radius: 50%;
  }
  /* sce 3 */
  .tittle-three{
   display: flex;
   flex-wrap:wrap;
   justify-content:space-around;
   align-items: center;
   width:100%;
   height: auto;
   padding: 20px;
   background-color: rgb(196 182 147);
  }
  .tittle-three .sec-1 p{
    font-size:30px;
    font-weight: 500;
    color: #3e2b24;
  }
  .tittle-three .sec-2 p{
    font-size:20px;
    font-weight:100; 
    color:#3e2b24;
    text-align: justify;
 }
  .tittle-three .sec-3 ul{
    list-style: none; 
    color: #3e2b24;
 }
  .tittle-three .sec-3 li{
    list-style: none;
    color:#3e2b24;
    font-size:20px;
    font-weight: 500;
    padding: 4px;
 }
  .tittle-three .sec-4 a{
    text-decoration:none;
    display: block;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 10px;
 }
  .tittle-three .sec-4 .link-1{
     color:rgb(196 182 147);
     background-color:#3e2b24;
 }
  .tittle-three .sec-4 .link-1:hover{
   background-color:rgb(196 182 147);
   color: black;
   border: 1px solid black;
   transition: 2s;
 }
  .tittle-three .sec-4 .link-2{
    color: black;
    border: 1px solid black;
  }
 .tittle-three .sec-4 .link-2:hover{
    color: rgb(196 182 147);
    background-color: #3e2b24;
    transition: 2s;
  }
  /*CONTAINER 4*/
 .container4{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color:rgb(100 89 65);
    padding-top: 100px;
  }
  .main-contain4{
   width: 100%;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   margin: 0px auto;
  }
  .tittle-three4{
   display: flex;
   flex-wrap:wrap;
   justify-content: space-around;
   align-items: center;
   width:100%;
   height:autO;
   padding: 20px;
   background-color:rgb(100 89 65);
  }
  .sec-1 p{
    font-size:30px;
    font-weight: 500;
    color:white;
  }
 .sec-2{
    font-size:20px;
    font-weight:100; 
    color:white;
    text-align: justify;
 }
 .sec-3 ul{
    list-style: none; 
 }
 .sec-3 ul,li{
    list-style: none;
    color:white;
    font-size:20px;
    font-weight: 500;
    padding: 4px;
 }
 .sec-4 a{
    text-decoration:none;
    display: block;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 10px;
 }
 .tittle-three4 .sec-4 .link-1{
     color:black;
     background-color:white;
 }
  .tittle-three4 .sec-4 .link-1:hover{
   background-color:rgb(100 89 65);
   color: white;
   border: 1px solid black;
   transition: 2s;
 }
 .tittle-three4 .sec-4 .link-2{
    color:white;
    border: 1px solid black;
  }
  .tittle-three4 .sec-4 .link-2:hover{
    color:black;
    background-color: rgb(196 182 147);
    transition: 2s;
  }
  /* container5 */
  .container5{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color:rgb(62 43 36);
    padding-top: 100px;
  }
  .main-contain5{
   width: 100%;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   margin: 0px auto;
  }
  .tittle-three5{
   display: flex;
   flex-wrap:wrap;
   justify-content: space-around;
   align-items: center;
   width:100%;
   height:auto;
   padding: 20px;
   background-color:rgb(62 43 36);
  } .sec-1 p{
    font-size:30px;
    font-weight: 500;
    color:rgb(196 182 147);
  }
 .sec-2{
    font-size:20px;
    font-weight:100; 
    color:rgb(196 182 147);
    text-align: justify;
 }
  .sec-3 ul{
    list-style: none; 
 }
  .sec-3 ul,li{
    list-style: none;
    color:rgb(196 182 147);
    font-size:20px;
    font-weight: 500;
    padding: 4px;
 }
 .sec-4 a{
    text-decoration:none;
    display: block;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 10px;
 }
 .tittle-three5 .sec-4 .link-1{
     color:black;
     background-color:rgb(196 182 147);
 }
  .tittle-three5 .sec-4 .link-1:hover{
   background-color:rgb(62 43 36);
   color:rgb(196 182 147) ;
   border: 1px solid rgb(196 182 147);
   transition: 2s;
 }
 .tittle-three5 .sec-4 .link-2{
    color:rgb(196 182 147);
    border: 1px solid rgb(196 182 147);
    transition: 2s;
  }
  .tittle-three5 .sec-4 .link-2:hover{
    color:rgb(62 43 36);
    background-color: rgb(196 182 147);
    transition: 2s;
  }
  /* container6 */
  .conatiner-6{
    display: flex;
    flex-wrap: wrap;
    background-color: #f1ecea;
    padding-top:70px;
  }
  .main-contain6{
     display: flex;
    flex-wrap: wrap;
  } 
  .smallimg1{
    width: 100%;
    height: auto; 
    text-align: left;
    margin-left: 100px;
    animation: moveing 4s ease infinite;
  }
  @keyframes moveing{
    from{
      transform:translateX(200px) rotateX(200deg);
    }
    to{
      transform:translateY(-200px) rotateY(-200deg);
    }
  }
  .smallimg1 img{
    width: 180px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
  }
  .heading{
    margin-top: 30px;
    margin-left: 300px;
  }
  .heading p{
    color: #3e2b24;
    text-transform: capitalize;
    text-align: justify;
    font-size: 30px;
    font-weight: 500;
    padding: 20px;
  }
  .smallimg2{
    width: 100%;
    height: auto;
    margin: 40px;
    text-align: right; 
    animation: moveing 4s ease infinite;
  }
  .smallimg2 img{
    width: 300px;
    height: 250px;
    border-radius:0;
    transition: 3s linear;
  }
   @keyframes moveing{
    from{
      transform: rotatey(100deg);
    }
    to{
      transform: rotatey(0);
    }
  }
 .smallimg2 img:hover{
  border-radius: 50%;
  transition: 3s linear;
 }
 .main-contain7{
  display: flex;
  flex-wrap:wrap; 
  padding-top: 50px;
  justify-content: center;
 }
 /* CONTAINER 8 */
 .container-8{
  width: 100%;
  height:auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
  gap: 50px;
 }
 .pitcher img{
  padding: 20px;
  width:300;
  height: 300px;
  border-radius: 30px;
 }
 .lastone img {
  padding-bottom: 100PX;
 }
.container-9{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color:#ad866f;
  border-radius: 0PX 0PX 0PX 0PX;
  margin: 30PX;
} 
/* CONTAINER 10 */
.contain-ten{
  width: 100%;
  height: 600px;
}
.containtenimg{
  width: 100%vw;
  height: 600px;
  background-image: url(../img/last\ bc\ img.avif);
  object-fit: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* contanctpage container 10 */
.contanct{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #3e2b24;
}
.contanctimg img{
  width:300px;
  height: 300px;
  object-fit: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 50% 0px 50px 0px;
}
.lasttwo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.froms{
  color: #ad866f;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  border: #ad866f 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.froms label{
 margin:50px;
 text-align: left;
}
.frms{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-row{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
input{
  background-color: #ad866f;
  color: #3e2b24;
  padding: 15px;
  border: 1px solid #3e2b24;
}
input::placeholder{
  color: #3e2b24;
  font-size: 20px;
  text-transform: capitalize;
}
.global-icon{
  color: #ad866f;
}
select {
  background-color: #ad866f;
  color: #3e2b24;
  padding: 10px 20px;
  border: 1px solid #3e2b24;
  font-size: 20px;
}
select option{
  color:#3e2b24;
}
button{
  width: 400px;
  text-align: center;
}
.bttn{
  color: #3e2b24;
  background-color: #ad866f;
  padding: 5px;
  border: #3e2b24 1px solid;
  font-size:20px;
}
.row-btttn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.row-btttn:hover{
  background-color: #3e2b24;
}
.footer-para{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding: 20px;
  justify-content: space-around;
}
.footer-para p{
  border-bottom: #ad866f 1px solid;
  color: #ad866f;
  font-size: 16px;
}
/*  aboutpage-css*/
.aboutone{
 display: flex;
 flex-wrap: wrap;
 width: 100%vw;
 height: 600px; 
 background-image: url(../img/containimg2.avif);
 background-attachment:fixed;
 background-position:left; 
 background-repeat: no-repeat;
 background-size: cover;
 object-fit: cover;
}
  .sec-abutconatain{
    background-color: #ad866f;
    margin: 30px;
    padding: 20px;
  }
  .sec-abutconatain h3{
     color: #3e2b24;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom:20px;
  }
 .sec-abutconatain p{
   color: #3e2b24;
    font-family: 'Times New Roman', Times, serif;
    line-height:1.2;
    font-size: 40px; 
    text-align: justify;
 }
  .abutone{
    width: 400px;
    height: 400px;
    padding-left: 30px;
  } .abouttittle-one{
    display: flex;
    flex-wrap: wrap;
    background-color: #f1ecea;
    border-radius:40px 10px 40px 10px;
    margin:0px auto ;
    box-shadow: 3px 2px 3px 2px white;
  }
 .abouttittle-one h3{
    color:#070707;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    text-shadow: #3e2b24 2px 6px 2px 6px;
 }
 .contain9{ 
  display: flex;
  flex-direction: column;
  color: #3e2b24;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 80px;
  padding-bottom: 50px;
  line-height: 1.5;
  text-align: center;
  animation: 2s con9 linear;
  animation-iteration-count:infinite;
  animation-direction: normal;
}
.contain-bt{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center; 
} 
.conatin-bt button{
 padding: 10px 10px;
   color: #ad866f;
   background-color: #3e2b24;
   font-size: 20px;
   margin-top: 30px;
   border: 2px solid #ad866f;
}
.footer-about {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding: 20px;
  justify-content: space-around;
  color: #3e2b24;
  font-size:20px;
}
.footer-about p{
  border-bottom: #ad866f 2px solid;
}
/* about css end */
/* contanct css */
 .continer-7{
  background:linear-gradient(#3e2b24,#ad866f);
  width: 100%;
  height:auto;
  padding-top: 100px;
 }
.head{
  display: flex;
  flex-wrap: wrap;
 } 
 .parahead{
   display: flex;
   flex-direction:column;
   justify-content: center;
 }
.hed p{
  color: #f1ecea;
  padding:0px 15px;
}
.hed h1{
  padding:  5px; 
  font-size: 30px; 
}
.map img{
  width: 800px;
  height: auto;
}
.locat img{
  width: 100%vw;
  height: 100%vh; 
} 
.floatcontain1{
  padding-top: 100px;
}
.floatpara1 img{
  width: 350px;
  height: 500px;
  border-radius: 20px;
}
.floatpara1{
  display: flex;
  flex-wrap: wrap;
 justify-content:center; 
  align-items: center;
} 
.hed{
   color: #3e2b24;
   line-height: 1.5;
   font-size:22px;
}
.head{
  display: flex;
 } 
 .parahead{
   padding: 10px;
 }
.hed{
  padding:20px 0px;
}
.hed h1,h4{
  padding: 0 5px;
  font-size: 25px;
  color: #0bdf19;
}
.map{
  display: flex;
  flex-wrap: wrap;
  animation: map 2s linear backgroundcolor ;
}
.locat{
  width: 350px;
  height: 300px;
}
.locat img{
  width: 100%vw;
  height: 100%vh; 
}
.floatcontain1{
  padding-top: 100px;
}
.floatpara1 img{
  width: 350px;
  height: 500px;
  border-radius: 0px 50%;
  box-shadow: #0b0b0b 6px 6px 6px;
}
.floatpara1{
  display: flex;
  flex-wrap: wrap;
  justify-content:center; 
  align-items: center;
} 
.hed{
   color: #3e2b24;
   line-height: 1.5;
   font-size:22px;
}
  .sectionpara{
  color: #3e2b24;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  font-weight: 200;
  line-height: 1.5;
  margin-left: 100px;
  padding:20px;
  margin-top: 100px;
  background-color: #f4f8f3;
  }
 .lastcontain{
  width: 100%;
  height:auto;
  background-color: #3e2b24;
  padding-top: 50px;
}
.lastone {
  color: #ad866f;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  line-height: 1.5;
}
/* galarey css */
 .galarey-pitcher img{
  display:flex-inline;
  flex-wrap: wrap; 
  justify-items: center;
  align-items: center;
  background-color:#f1ecea;
 }
 .one{
  width: 300px;
  height: auto;
  padding:10px;
 }

